node_modules
npm-debug.log*
yarn-error.log*
/dist
build
coverage
test
.tsbuildinfo
**/*.spec.ts
**/*.test.ts
**/*.test.js
.git
.gitignore
README.md
.env*
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
.nyc_output
.temp
.tmp
.github
logs
*.log
.dockerignore
Dockerfile
docker-compose*.yml
.cache
tmp
*.tgz
.prettierrc
eslint.config.mjs
jest.config.js
.editorconfig
